---
layout: page
---

<h2>Mediciones IPv4</h2>
<p>Mediciones de recursos IPv4 sobre diferentes categorías. Se puede obtener un gráfico de la medición así como también los sets de datos.</p>
<table class="table table-striped">
    <tr>
        <td width="48%">
            <h4>IPv4 disponible por RIR</h4>
            <p><a href="http://opendata.labs.lacnic.net/ipv4stats/graphs/ipv4avail.html" target="_blank">http://opendata.labs.lacnic.net/ipv4stats/graphs/ipv4avail.html</a>
                <br> Fuente: FTP de LACNIC, ARIN, APNIC, RIPE, AFRINIC
                <br> Autor: Carlos Martinez
                <br> Datos: No disponible aun</p>
        </td>
        <td width="48%">
            <h4>Agotamiento IPv4 de la fase 2</h4>
            <p><a href="http://mvuy10.labs.lacnic.net/ipv4runout/chart.html" target="_blank">http://mvuy10.labs.lacnic.net/ipv4runout/chart.html</a>
                <br> Fuente: FTP de LACNIC
                <br> Autor: Elisa Peirano
                <br> Datos: No disponible aun</p>
        </td>
    </tr>
    <tr>
        <td width="48%">
            <h4>Asignaciones IPv4 por pais</h4>
            <p><a href="http://stats.labs.lacnic.net/REGISTRO/ipv4percc.html" target="_blank">http://stats.labs.lacnic.net/REGISTRO/ipv4percc.html</a>
                <br> Fuente: FTP de LACNIC
                <br> Autor: Alejandro Acosta
                <br> Datos: No disponible aun</p>
        </td>
        <td width="48%">
            <h4>Agotamiento IPv4 de la fase 2 (modelos de distintos grados)</h4>
            <p><a href="http://mvuy10.labs.lacnic.net/ipv4runout/chart_v2.html" target="_blank">http://mvuy10.labs.lacnic.net/ipv4runout/chart_v2.html</a>
                <br> Fuente: FTP de LACNIC
                <br> Autor: Elisa Peirano
                <br> Datos: No disponible aun</p>
        </td>
    </tr>
    <tr>
        <td width="48%">
            <h4>Prefijo promedio anunciado</h4>
            <p><a href="http://stats.labs.lacnic.net/BGP/avg-v4-prefixsize-lac-region.html" target="_blank">http://stats.labs.lacnic.net/BGP/avg-v4-prefixsize-lac-region.html</a>
                <br> Fuente: RIS de RIPE
                <br> Autor: Alejandro Acosta
                <br> Datos:
                <a href="http://stats.labs.lacnic.net/BGP/opendata/" target="_blank">json and csv files</a></p>
        </td>
        <td width="48%">
            <h4>Cantidad de prefijos anunciados</h4>
            <p><a href="http://stats.labs.lacnic.net/BGP/historical-number-v4-prefix-lac-region.html" target="_blank">http://stats.labs.lacnic.net/BGP/historical-number-v4-prefix-lac-region.html</a>
                <br> Fuente: RIS de RIPE
                <br> Autor: Alejandro Acosta
                <br> Datos: <a href="http://stats.labs.lacnic.net/BGP/opendata/" target="_blank">json and csv files</a> </p>
        </td>
    </tr>
</table>
