<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google auth -->
    <meta name="google-site-verification" content="lIBJB024gcZVoXDBZuktqXPxgNYhFHTNC--30FLOa_8"/>

    <meta name="description"
          content=""/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ page.title }} - {{ site.title }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- LACNIC Styles -->
    <link rel="stylesheet" type="text/css" href="css/lacniclabs-generico.css">
    <link rel="stylesheet" type="text/css" href="css/lacniclabs-override.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/lacniclabs-portales-negro.css"> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta http-equiv="content-type" content="text/html;charset=utf-8">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<!-- Fondo -->
<body>

<!-- Barra Primaria -->
{% include barra_primaria.html %}

<!-- Barra Secundaria -->
{% include barra_secundaria.html %}

<!-- Fondo -->
<div class="container">
    <div class="header clearfix">
                <!-- Nada -->
    </div>


    <!-- Header -->

    <div id="fondo" class="row marketing">
        <!-- Content -->
        {{ content }}
    </div>


</div>

{% include footer.html %}

<!-- 		Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script',
            '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-33695965-2', 'lacnic.net');
    ga('send', 'pageview');
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<iframe id="iframe" sandbox="allow-same-origin" style="display: none"></iframe>

</script>
</body>
</html>
