<div id="barra-primaria" class="navbar">

    <a href="https://www.labs.lacnic.net" title="LACNIC labs" class="pull-left">
        <img src="imgs/logo_labs.png" border="0" class="hidden-xs" alt="LACNIC Labs" />
        <img src="imgs/logo_labs_small.png" border="0" class="visible-xs" alt="LACNIC Labs" />
    </a>

    <a id="titulo-primario" class="navbar-brand pull-right" href="{{ site.url }}">
        <h2>
                <span class="hidden-xs">
                    {{ site.title }}
                </span>
                <span class="visible-xs">
                    {{ site.title_short }}
                </span>
        </h2>
    </a>
</div>
