<footer id="footer" class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <a href="https://www.labs.lacnic.net/">
            <img src="imgs/logo_labs_foot.png" class="hidden-xs center-block" title="LACNIC labs"/>
            <img src="imgs/logo_labs_foot_small.png" class="visible-xs center-block" title="LACNIC labs"/>
        </a>
    </div>

    <!-- Begin LetsEncrypt site seal HTML -->
    <!-- <div class="col-lg-3" data-language="en_US">
        <a href="https://letsencrypt.org/">
            <img class="center-block" style="max-width:15em;"
                 src="https://cdn.discourse.org/business/uploads/letsencrypt/original/1X/149e86cd7f135095e9c92f4e67a4b6a7b80a60c0.png">
        </a>
    </div> -->
    <!-- End LetsEncrypt site seal HTML -->

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-top: 1em;">
        <p class="center-block" style="text-align: inherit">
            Aquí puede ir información de la aplicación, del versionado de código, información como por ejemplo el tiempo que demoró en ejecutar un determinado script, y otra información accesoria.<br/>
        </p>
    </div>

</footer>
